<div class="container">
    <form action="/api/messages" method="post" >   
        <p>Envio de mensajes</p></br>
        <label for="">email</label></br>
        <input type="text" name="email"></br>
        <label for="">mensaje</label></br>
        <input type="text" name="message"></br>
        <input type="submit"></br>
    </form>
</div>